# Flutter & Dart
.dart_tool/
.packages
.pub-cache/
build/
.idea/
.vscode/
*.iml

# Sensitive Dart file
lib/private/private.dart

# Android
android/.gradle/
android/build/
android/app/src/main/AndroidManifest.xml

# iOS
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/build/
ios/Runner/AppDelegate.swift
